[2014-04-08 18:35] richarson opened #1 "Trouble executing ceph-dash.py on CentOS 6.5"
Hi, I'm getting an error running ./ceph-dash.py on CentOS 6.5, python is 2.6 but I'm not sure if that's supported.

The error I'm getting is:

[root@mon01 ~/ceph-dash] # ./ceph-dash.py
Traceback (most recent call last):
  File "./ceph-dash.py", line 129, in <module>
    main()
  File "./ceph-dash.py", line 124, in main
    app = CephAPI(**name**)
  File "./ceph-dash.py", line 94, in **init**
    s

[2014-04-10 20:13] #1 closed, assigned to Crapworks

[2014-09-02 12:06] m-messiah opened #5 "Wrong template?"
Hello,
Now ceph-dash loads all data, but when it renders template - template is clean. So I didn't found any includes in template. Is it right? What I am doing wrong?

[2014-09-03 04:17] #5 closed, assigned to Crapworks

[2015-01-19 16:06] ksingh7 commented on #1
My Vote to the answer , yes this problem solves after upgrading jinja2 on CentOS based machines

[2015-01-19 16:08] ksingh7 opened #8 "ceph-dash : Does not shows dashboard , ends with error 500"
{
"message": "'module' object has no attribute 'autoescape'",
"code": 500
}

Getting this error message while running ceph-dash.py , it looks like this is caused other then ceph-dash , as it worked for me on another monitor machine.

[2015-01-19 16:09] ksingh7 commented on #8
This is fixed after updating jinja2 on centos machine
# pip install --upgrade jinja2

[2015-01-19 16:09] #8 closed

[2015-02-26 15:05] javarminator opened #9 "metrics are not visible"
Hi all,

I've just installed the ceph-dash on a monitor and I copy-pasted the sample configuration file but the metrics section did not show anything on the dashboard

Help plzzzz
Cheers

[2015-02-27 10:11] Crapworks commented on #9
The configuration for graphite is just an example, of course it won't work.
From the ceph-dash readme:

Do you have a graphite cluster? Do you put teh required data into that cluster? If not, there will be not metrics in ceph-dash.

Regards,
Christian

[2015-03-07 09:39] #9 closed

[2015-03-19 21:53] verlaine opened #10 "Change port 5000"
Hello,

Thanks for the awesome job.
Is there a way we can change the port number from 5000?

[2015-03-19 21:56] verlaine commented on #10
Ok,

I think I got it:
app.run(port=5001,debug=False, host='0.0.0.0')

Is that correct ?

[2015-03-19 22:32] #10 closed

[2015-03-20 15:54] Crapworks commented on #10
Hi Verlaine,

yes, you can change the port for the build-in webserver via the ```port``` attribute of the ```run``` function. Anyways, for a live usage scenario, I strongly recommend you to deploy ceph-dash into a WSGI capable webserver.

For more information: http://wsgi.readthedocs.org/en/latest/

Regards,
Christian

[2015-03-27 02:15] gmihaiescu opened #11 "Data formatting for Graphite"
Thank you for the ceph dashboard, it works great.
I also  tried to implement the Graphite but how do you mutate the output of check-ceph-dash.py --url 'http://url/' and prepare it for graphite? I collect the data with Sensu which then should relay it to Graphite.

My output is below and it's not ready for Graphite:

WARNING: HEALTH_WARN: 326 pgs backfill
HEALTH_WARN: 7 pgs backfilling
HEALTH_WARN:

[2015-03-27 16:42] gmihaiescu commented on #11
Never mind, I got it working by adding a timestamp and piping to  "xargs -n3".

[2015-03-27 16:42] #11 closed

[2015-03-27 17:02] Crapworks commented on #11
Hi gmihaiescu,

check-ceph-dash is a nagios plugin and produces output that Nagios and Icinga can understand. The data behind the pipe is handled as "perfdata" by Nagios like monitoring systems. I was just checking because I thought that Sensu can invoke Nagios checks as well. It can indeed, but obviously only Sensu Enterprise can process the perfdata potion returned by those checks.

So your appr

[2015-05-06 08:44] mileskuo opened #13 "socket.error: [Errno 98] Address already in use"
I just wanted to try the ceph-dash in my openstack env. But seemed the port 5000 has been used for other app. How to change the port for ceph-dash?

root@node-3:~/ceph-dash# ./ceph-dash.py

 * Running on http://0.0.0.0:5000/

Traceback (most recent call last):
  File "./ceph-dash.py", line 203, in <module>
    main()
  File "./ceph-dash.py", line 199, in main
    app.run(debug=False, host='0.0.0.0

[2015-05-07 07:09] Crapworks commented on #13
Hi milesuko,

this question has been already asked here:
https://github.com/Crapworks/ceph-dash/issues/10

Does that solve your problem?

[2015-05-29 13:21] #13 closed

[2015-06-12 22:07] symmcom opened #15 "Ceph Dashboard pulling Graphite data but no graph"
Hello,
First of all I just love your dashboard. Have been using it for a while now and it does what it is designed to do very well.
The issue that i am having right now is, I have finalyl setup Icinga+Graphite. Icinga pulling data from Ceph which can be viewed from graphite web. I have modified config.json in your ceph dashboard but it is not showing any data under Performance metrics block. Missi

[2015-06-13 08:49] Crapworks commented on #15
Hi Symmcom,
without any further information, it is hard to tell where the problem is. Can you provide me your config.json? I would debug this using Firebug, which will show you any errors coming back from graphite. If it is SHOWING the section "Performance Metrics", but just no data, it is usually an issue with the targets. But again, I need some more information to help you with this.

Regards,
C

[2015-06-13 14:36] symmcom commented on #15
Hi Chritian,
Thank you so much for your response. I also think it is because improper target that it is not receiving any data. Below is my config.json:
=====================================
{
    "ceph_config": "/etc/ceph/ceph.conf",
    "graphite": {
        "url": "10.1.100.1:8080",
        "metrics": [
            {
                "targets": [
		    "avg(monitoring.ceph-mon*.ceph_overall_clus

[2015-06-13 15:47] Crapworks commented on #15
Exactly, the target parameter in the config is actually passed directly to the target paramter in the graphite url. Please tell me if that worked for you.

[2015-06-13 19:02] symmcom commented on #15
Could you please tell me which one will be correct target out of following?
1.
"targets": [
"avg(monitoring.ceph-mon.ceph_overall_cluster_status.icinga.node01.read_bytes_sec)",
"avg(monitoring.ceph-mon.ceph_overall_cluster_status.icinga.node01.write_bytes_sec)"
],

2.
"targets": [
"avg(icinga.node01.read_bytes_sec)",
"avg(icinga.node01.write_bytes_sec)"
],

3.
"targets": [
"icinga.node01.read_byte

[2015-06-14 18:30] Crapworks commented on #15
If you only have one node that you want to graph, then

[code]

should work.

[2015-06-15 13:46] symmcom commented on #15
Unfortunately this did not work. Still no graph. i know the target is accurate because i can use the same target in a browser to see the graphs. Any ideas?

[2015-06-17 13:33] Crapworks commented on #15
Like I told you, you should check the requests with firebug, to see what is going wrong. Can you please provide me again the full ```config.json```?

[2015-06-17 19:45] tdeneau opened #16 "read and write MB/sec not correct"
I am trying to set up a single-node demo system for someone and am using the ceph-dash as a visual indicator (definitely the easiest ceph dashboard to get running!)
I am running separate rados bench read and write processes and I have noticed the MB/sec for reads and writes is often twice as big as the actual numbers reported by rados bench.

Now I am running rados bench on the same node where the

[2015-06-18 19:43] Crapworks commented on #16
Hi tdeneau,

this is not an issue of ceph-dash. Ceph-dash just outputs the same data as shown on the command line via ```ceph status```. Since it is only refreshing every 5 seconds, it can only show a current snaphot of the overall cluster performance. The rados benchmark for sure shows you the acutal data rates librados is able to write and read.

So this is actually not an error, it is just the

[2015-06-18 19:43] #16 closed

[2015-06-18 20:33] tdeneau commented on #16
Thanks, I did not realize that ceph status provided this information, will look into how it computes it

[2015-07-11 17:35] Crapworks commented on #15
I guess it is working now? I am closing this :)

[2015-07-11 17:35] #15 closed

[2015-07-11 22:20] symmcom commented on #15
Hello, 

Thanks for closing the ticket. Actually i could never get the Icinga+Ceph-dash to work to display graph. But its ok because i moved to Zabbix from Icinga. Much better option in my case. 

I do use your ceph-bash daily to monitor our ceph cluster. You have done a good job and it just works although without the graph. 
Are you planning anything for Zabbix?

Wasim Ahmed
Senior IT Consultant

[2015-07-27 10:40] Crapworks commented on #15
Hi,
actually the graphite integration is not bound to Nagios/Icinga or any other monitoring system. If you can see the graphs in graphite, you can also integrate them into ceph-dash. If you could send me again your config.json we can have another look at it.

[2015-07-27 19:07] mtanlee opened #18 "The ceph-dash don't get data from the ceph cluster on centos 6.5"
II don't know the reason. My configure:
sudo cat config.json
{
   "ceph_config": "/etc/ceph/ceph.conf",
   "keyring": "/etc/ceph/admin.keyring",
   "client_name": "client.admin",
   "graphite": {
        "url": "http://graphite.server.org",
        "metrics": [
            {
                "targets": [
                    "avg(monitoring.ceph-mon*.ceph_overall_cluster_status.read_bytes_sec)",

[2015-07-29 09:37] Crapworks commented on #18
Hi mtanlee,

well, that can have a lot of reasons. With that amount of information I can't tell you where the problem is.

Do you run ceph-dash in a web server or jsut starting it on the command line? As which user? Do the mentioned config files exist and are readable for the current user?

Looks like you just took the sample config file and used it. You have to insert values that are suitable for

[2015-07-29 12:44] mtanlee commented on #18
Hi Crapworks ,
  thanks,this is my  negligence.The root run ceph-dash on the command line.
  I try againt.

[2015-08-12 11:32] Crapworks commented on #18
Looks like this can be closed :)

[2015-08-12 11:32] #18 closed

[2015-10-10 01:46] alex1528 opened #19 "how open monitor?"
./ceph-dash.py
 Running on http://127.0.0.1:5000/
 Restarting with reloader

how change the ip 127.0.0.1 ?

tks!

[2015-10-12 13:11] subsecond opened #20 "[Feature request] Storage Utilization per Root (and Pool)"
I like the simplicity and ease-of-use of ceph-dash a lot. Thanks for the great work and for sharing!

In our Ceph cluster we have several different pools and I'd love to see a bar chart / donut representing the utilization per pool instead of the existing overall storage utilization graph. If you are thinking about implementing something in that direction I'd be willing to support your work by don

[2015-10-13 08:18] walshy690 opened #21 "Cannot run ceph-dash"
Good Morning.

I have use ceph-dash before and it is a brilliant but currently I cannot seem to get it running.

I have my cluster set up and running no problem and have the config.json pointed at my config file but when I type in the command:

<pre>sudo python ceph-dash.py</pre>

I only get this message:

<pre> * Running on http://127.0.0.1:5000/
 * Restarting with reloader</pre>

Any help with t

[2015-10-13 08:29] Crapworks commented on #19
If you want the development server to listen on all interfaces, you can open ```ceph-dash.py``` and change the line

[code]
to
[code]

I anyways recommend you to deploy ceph-dash into a WSGI capable webserver like Apache or Nginx

Cheers,
Christian

[2015-10-13 08:31] Crapworks commented on #21
Well, what do you expect to happen? That is what should happen when you start it on the command line. What problem do you have exactly?

If you are trying to access it from another host and can't reach it, that is because the server by default binds to localhost. See #19 on how to change that

[2015-10-13 08:36] a-nldisr commented on #20
+1 Great feature request for a great dashboard!

[2015-10-13 09:26] Crapworks commented on #20
I just had a quick look into it. I am just wondering how you want to see the utilization of several pools, because pools don't have a particular size. They span over the whole cluster. So I am not sure how to visualize that so it makes sense.

[2015-10-13 10:05] subsecond commented on #20
Yes, you are right in terms of several pools _can_ share the same OSDs, but they do not necessarily span the whole cluster.
Let me make a simple example here: You have 5 nodes for storage and 3 nodes for backups. Then you might have 2 pools (images and volumes) that span the 5 storage nodes and hence have the same storage utilization and another pool (backups) that spans the 3 backup nodes only. T

[2015-10-13 10:32] walshy690 commented on #21
That was the issue I added the IP and it worked. Just to note I am only running a very small personal cluster so it shouldn't cause issues.

Thanks

[2015-10-13 10:32] #21 closed

[2015-10-13 11:50] Crapworks commented on #20
I see what you mean. But I am still not sure how to visualize that, without creating confusion.
To take your example, creating three bars like this:

[code]
maybe visualized as progress bars, would suggest that you have, in sum, about 19T for volumes and images, which is not the case. Those pools will be full even if the progress bars are only both filled 50%

And the ceph osd df tree seems only t

[2015-10-13 15:57] richarson commented on #20
It'd be a nice feature to have but I agree with @Crapworks that it could be confusing.

Maybe a donut chart per root instead of per pool? And optionally, each donut could use different colors for each pool inside that root.

[2015-10-13 21:14] subsecond commented on #20
I do see @Crapworks point as well. The suggestion of @richarson sounds good and I had a quick look at the implementation possibilities:

[code]
is giving us the necessary information on the different roots, their hosts and osds. Especially the osd IDs are important (to store them in an array per root for example)

[code]
would give us the utilization per osd but as @Crapworks is pointing out, this

[2015-10-13 21:31] subsecond commented on #20
Okay, I can answer that one myself:
[code]
is our friend (the very last part of the output). The output has to be parsed of course but the command is available in Giant as well as Hammer.

[2015-10-13 22:10] richarson commented on #20
@subsecond, giant has:

[code]

Does it also work in hammer, or only `ceph osd df` does?

[2015-10-13 22:13] subsecond commented on #20
`ceph df` works both in Giant and Hammer. But that's useless information if we don't want to start confusing people as pointed out earlier.
So my suggestion is to use a combination of `ceph osd tree` and `ceph pg dump` to get the storage utilization by root instead of pool. What do you think about that?

[2015-10-13 22:43] richarson commented on #20
Ah, my mistake, I thought you recommended `ceph osd df` for hammer and something else fo giant.
Upon re-reading I see that wasn't you intention.

[2015-10-14 09:33] Crapworks commented on #20
Good Morning,

I was playing around with the pool stuff yesterday. A way of displaying it with less confusion could be something like this:

![example1](https://cloud.githubusercontent.com/assets/1851528/10479880/21c020b0-7267-11e5-9b78-b9a1c7104b7e.png)
![example2](https://cloud.githubusercontent.com/assets/1851528/10479879/21be7c38-7267-11e5-941e-17102f9dd177.png)

Where you can clearly see the

[2015-10-14 09:47] subsecond commented on #20
Hey there!
Man you are fast.

Let me get that straight: The needle is still showing the storage capacity used in the entire cluster (so all roots, not per root?) and the triangles are showing the usage of the different pools? Did I get that right?
If so, the needle would always point to the last triangle in the graph, correct?

One other thing that is bugging me with aggregating the graph is scale

[2015-10-14 10:11] Crapworks commented on #20
It is a bit different (as you can see we're already getting confused about the visualization ;) ).
I can only tell that theoretically, because we only use one pool, spanning across all OSDs. But lets say you have the following:

* 1 Cluster with total: 100TB
* 1 pool(a) across all OSDs: 10TB used.
* 1 pool(b) with maximum 10TB available; 5TB used.
* 1 pool(c) with maximum 1TB available, 1GB used

[2015-10-14 10:17] Crapworks commented on #20
And another thing I have to consider: using all the commands you mentioned would result in 3-4 request per refresh to the cluster, compared with 1-2 right now, which would slow the overall speed down on a significant amount, since the refresh timer is 5 seconds (and I want it to be as realtime as possible). During my testing with pools I was using librados ```open_ioctx()``` and ```get_stats()```

[2015-10-14 14:59] richarson commented on #20
@Crapworks, thanks for the clarification of the graph, that makes sense to me.

Avoiding having several donuts also makes sense, I like this "one look" approach of ceph-dash and that's why I'm using it (in a big monitor where everyone can see it!).

Also, I should have mentioned that `ceph pg dump` produces a json file of 61 MB for me (currently 41 osds in one pool, 273 osds in another pool), and

[2015-10-15 13:08] Crapworks commented on #20
Played around with visualization some more (on basis of per pool utilization). Would this be usefull understandable?

![example3](https://cloud.githubusercontent.com/assets/1851528/10514511/666b9bee-734e-11e5-84dc-cd36d760e12b.png)

Are we even still going in the originally requested direction or is there no need for something like this?

Cheers

[2015-10-15 13:16] subsecond commented on #20
That is amazing @Crapworks!
And a small detail: This graph also has some similarities with the Ceph logo, so I like it even more than the old capacity graph. Well done!

[2015-10-16 09:55] Crapworks commented on #20
Hey guys, there is a new (testing) branch [here](https://github.com/Crapworks/ceph-dash/tree/per_pool_util) were you can check the code out and give it a try. If it is working, please share some screenshots, because as I told you, I only have one pool and it looks kind of boring :)

Cheers

[2015-10-16 10:33] subsecond commented on #20
Hey @Crapworks, great job!
Here is a picture of how it looks like on an (almost) fresh install of Ceph Hammer with five pools (2 roots):

![ceph-pools](https://cloud.githubusercontent.com/assets/3658034/10539547/80320498-7400-11e5-9c92-b8855468ac12.png)

Once we will have more data stored, I'll gladly share some new screenshots.
If I might ask for one more favour though: Can you increase the boldn

[2015-10-16 11:12] Crapworks commented on #20
Well, I will think about you suggestions, although I want to make it configurable what view you choose, an overall cluster view or an per pool view. This for sure will take me significantly more time :) My personal next steps are cleaning up the javascript hell I've created to make things more dynamic.

If you want to donate to the project, you can do that [here](https://www.paypal.com/cgi-bin/web

[2015-10-16 11:26] subsecond commented on #20
People need to understand that even though a piece software may be open-source and free, it does not mean that enhancements are free of charge as well. I like your spirit but I'm sure you spent quite some time implementing that particular feature. So please understand our donation as a token of appreciation for your work. Thanks a lot and keep on rockin'!

[2015-10-16 14:35] Crapworks commented on #20
Thank you very much! I will definitely put it to good use!
I've adjusted the font weight, but since I am not at work anymore, I can't test it. It should be more readable anyways.

Shall I close this issue?

Cheers

[2015-10-16 15:56] subsecond commented on #20
Well deserved. Yes, please go ahead and close this request for enhancement.
Enjoy your weekend! Cheers

[2015-10-16 18:54] richarson commented on #20
Looking good!

I was a bit busy so I couldn't comment on this, I'll see if I can give the testing branch a try and share a screenshot.

And if you're going to make it configurable and it's not much work, I'd like the option of showing only per root instead of per pool, as that's more useful to us at work.

Otherwise, it's a very nice improvement, my colleagues really liked those screenshots :)

Pl

[2015-10-16 21:10] richarson commented on #20
OK, here's a screenshot:
![ceph-dash-per_pool_util_1](https://cloud.githubusercontent.com/assets/1638444/10552307/5be65e62-7429-11e5-9a5a-1eac29dc727d.png)

Notice that the % is wrong, one of the pools on the other root shows 36.62 TB / 11.52 TB (316.54 %).

Here's my `ceph df` if it helps narrowing down the problem:

[code]

Though, that's not accurate either: `((11846 * 7) + (7089 * 5)) / 1024 =

[2015-10-16 22:47] subsecond commented on #20
Hmm, you are right. We are having the same issue.
Apparently, the "MAX AVAIL" column shows the free space within that specific root and not the total initial capacity. This is smart and stupid at the same time and of course not an issue of ceph-dash.
The fix on the other hand is simple enough: Instead of calculating the percentage based on the output, we just use the "%USED" column instead.

So th

[2015-10-17 14:41] subsecond commented on #20
It's even worse than I feared:
[code]
Let's start at the top: `1408 / (115*1024) * 100 = 1.1956%`
So far so good, but that's the total capacity, not respecting replication levels and summing up all the roots and pools. So it's basically zero useful information.

Next, bearing in mind that "MAX AVAIL" is the remaining capacity, respecting replication levels, of the *images* and *volumes* root: `(94

[2015-10-18 14:39] subsecond commented on #20
So, further digging revealed the reason(s) for this behaviour:
* A root can span certain OSDs
* A root can have several pools spanning those OSDs
* Another root can span (some / all of) these OSDs as well

Here is why there is no way to get a (static) pool capacity value:
If two roots A and B span the same OSD x, then pools in root A can use capacity on that OSD as well as pools in root B. So basi

[2015-10-19 09:35] Crapworks commented on #20
Hi all,

first of all, my personal opinion:
I don't think that it is a good idea to have two roots spanning over the same osd. I don't even think having two roots over different OSD's is usefull in most cases (except for cache tiering). If it is really needed to seperate the data physically, I would prefer either a (phsysical) seperate ceph cluster or using different cluster in ceph itself (which

[2015-10-19 09:41] subsecond commented on #20
I fully agree with you @Crapworks, it's bad practice to share the same OSDs in different roots. BUT: It's technically possible and hence all the complexity in displaying total capacity.

Yes, I'd love to see the following:
`"{name}: " + {bytes_used} + " / " + ({bytes_used} + {max_avail}) + " (" +  {bytes_used} / ({bytes_used} + {max_avail}) * 100 + "% used)";`

Result would be:
`volumes: 412G / 9.

[2015-10-19 09:53] Crapworks commented on #20
I've just changed the code and pushed it to the ```per_pool_util``` branch. Looks good for me, the pool utilization is now aligned with the overall cluster utilization. Can you have a look?

[2015-10-19 10:03] subsecond commented on #20
Yes, perfect, thanks!
I fear that you will receive support requests on why two pools in the same root do not show the exact same amount of total capacity. The only way around that would be to not only add `bytes_used` of that specific pool, but of all pools in the same root, so:
[code]

I'm not saying I need that feature, I'm just saying that this will probably raise some questions.
But as you alr

[2015-10-19 10:37] Crapworks commented on #20
Yeah, I guess that is as good as it gets for < Hammer.
Can you send me the json output of

```# ceph osd df tree --format=json-pretty```

So I can see what information I would get from this?

[2015-10-19 10:45] subsecond commented on #20
Sure, I just sent you an email.

[2015-10-19 13:04] Crapworks commented on #20
Thanks! I am closing this isse now. Feel free to contact me with further questions or just open a new issue :)

Cheers

[2015-10-19 13:04] #20 closed

[2015-10-19 13:06] Crapworks commented on #19
No response means usually it works :) So I am closing this.

[2015-10-19 13:06] #19 closed

[2015-11-03 05:16] asdfsx opened #22 "cannot get timechekMons"
I found the format of cluster_status has changed.The format of health parameter has changed.
So monitor status cannot displayed on web page.
The following is the json I received
[code]

[2015-11-03 09:46] Crapworks commented on #22
Hi, can you tell me which version of ceph you are using? I will take a look at this.

Cheers

[2015-11-03 10:40] Crapworks commented on #22
And you you please provide me the output of

```ceph status --format=json```

[2015-11-04 03:53] asdfsx commented on #22
ceph version 0.94.3 (95cefea9fd9ab740263bf8bb4796fd864d9afe2b)
[code]

[2015-11-04 03:54] asdfsx commented on #22
I forgot to tell you which version I'm using.Sorry for that

[2015-11-04 04:01] asdfsx commented on #22
And I wanna know how to collect ceph metrics, and put them into influxdb or elaticsearch

[2015-11-11 07:43] stuartbfox commented on #22
Im the same, how are you getting those metrics into graphite or influx in the first place?

ps great project!

[2015-11-25 21:20] koma85 opened #23 "Cannot set listening port or host"
Hi! I cannot set the listening port nor the listening address:
 * Running on http://127.0.0.1:5000/
I cannot find anywere a setting to this.

[2015-11-26 10:05] Crapworks commented on #23
Please see here #10 or here #13 or here #21 or here #19 :)

[2015-11-26 14:35] koma85 commented on #23
Perfect, could you pleas add this to the documentation?

Thank you again.

[2015-11-28 11:31] ksingh7 opened #24 "Changing ceph-dash.py to listen on 0.0.0.0"
Hi whats your thought on changing ceph-dash.py to listen on all ports by default

``` app.run(host='0.0.0.0', debug=True) ```

If we do this by default , will it break anything ? if not should you consider changing this in master branch ?

Thanks for beautiful ceph-dash.

[2015-11-30 03:45] prasadpande1990 opened #25 "Error: rados_initialize failed with error code: -22"
Hi,

I tried to deploy and start ceph-dash on ceph-admin i.e. monitor but I am getting below error when I hit the url.

![ceph-dash](https://cloud.githubusercontent.com/assets/8678175/11463042/3c5d72ca-96e2-11e5-9455-e95c262908ae.png)

[2015-11-30 10:05] Crapworks commented on #25
How does your ```config.json``` look like?
What happens if you just enter ```ceph status``` on the console?

[2015-11-30 10:05] #23 closed

[2015-11-30 11:01] Crapworks commented on #24
Done

[2015-11-30 11:01] #24 closed

[2015-11-30 13:29] ksingh7 commented on #24
Cool Thanks

[2015-12-11 08:36] Crapworks commented on #25
I am closing this since - no news :)

[2015-12-11 08:36] #25 closed

[2016-01-12 05:37] bladedoyle commented on #22
One suggestion is to run a separate process that uses a REST call to fetch the data from the ceph dashboard app, and then feed that into influxDB using REST call.  I have attached an example of a script to do those things (copied from somewhere and hacked for performance).
[ceph-monitor.py.txt](https://github.com/Crapworks/ceph-dash/files/86815/ceph-monitor.py.txt)

[2016-02-18 16:07] Crapworks commented on #22
So, to finally close this issue:
Since ceph dash is not a service/daemon that is constantly running, it can't fetch metrics in a certain interval. The Graphite/InfluxDB integration is only for getting data OUT of those backends.

Do get data INTO them, you have different options:
* build something for yourself like @bladedoyle did
* use a metric agent that does that for you (Diamond, Collectd, etc

[2016-02-18 16:07] #22 closed

[2016-04-01 07:47] LenzGr opened #27 "SSE/WebSocket support?"
This is more an enhancement idea than a bug report - currently, the Web application seems to poll the server application for updates every 5 seconds. Have you considered using [Server-Sent Events (SSE) or WebSockets](http://www.html5rocks.com/en/tutorials/eventsource/basics/) instead? This might give the app a more "real-time" feeling and would avoid the polling.

[2016-04-17 11:42] Crapworks commented on #27
Hi Lenz,
SSE and Websockets are a cool thing when you have an event-driven backend. For ceph-dash, this is not the case. The backend (the flask-application) hast to actively pull the current statistics from the ceph backend. The arbitrary (and changable) 5 seconds interval can't be replaced by an event, because the is no event.
It is a cool Idea and I was playing around with websockets in other pr

[2016-04-17 16:57] LenzGr commented on #27
Thanks for the explanation. I agree, there isn't really an "event" that would need to be triggered via the backend to result in a change of the frontend. I was more thinking about the additional latency and round-trips of polling the backend vs. keeping a connection open and letting the backend stream updates to the frontend as soon as it has retrieved them. Our [project](http://openattic.org/) us

[2016-04-17 22:07] Crapworks commented on #27
I just checked the WSGI app you mentioned. Well, in my oppinion a web-services, especially one who, like ceph-dash, provides a REST api should be stateless. The extremely small overhead of having a AJAX request every 5 seconds that returns a few kilobyte of Javascript doesn't justify the code-overhead of implementing websocket technology. It is just not the right tool for a REST api/jQuery web gui

[2016-04-18 07:43] LenzGr commented on #27
Makes sense. Thanks for the reply! I'll close this request then, if you don't mind.

[2016-04-18 07:43] #27 closed

[2016-05-19 10:19] maran opened #28 "Read/Write operations on Jewel"
On Jewel the operations are split between Read and Write operations so the Ops field is empty. Is there already a way to check which underlying Ceph version is being used? I currently hacked in the operations in but I would like to supply a proper pull request that is backwards compatible.

[2016-05-19 16:24] Crapworks commented on #28
Not yet. The status json format was fortunately very stable for quite some time. If it is just one or two fields that changes, I would implement that in the javascript routine that disassembles the json returned from the api, just checking for the presence of certain fields.

It would be cool if you could do that via a pull request! If not, you could provide the json returned from the api and I co

[2016-05-21 12:46] Crapworks commented on #28
Fixed by #29

[2016-05-21 12:47] #28 closed

[2016-06-22 10:11] Lighiche opened #30 "No performance metrics"
If some one can answer however where do I find more information on this section so I can best layout the graphs?

[code]

**FIXED** HAHAHA I'm such a dumb ass. I was editing the wrong config.json -_- I turned up a test instance using flask at first before moving to apache. I was editing the config in the dev dir.

So for anyone that's wondering:
-   make sure the files in dir httpd is serving are

[2016-06-22 17:15] Crapworks commented on #30
So... I am not sure now, can I close it or do are there any questions left?

[2016-06-23 09:24] Lighiche commented on #30
Only question is: If someone can answer however where do I find more information on this section so I can best layout the graphs?

"labels": [ "Read", "Write" ],
 "from": "-2h",
"mode": "byteRate"

[2016-06-24 10:06] Crapworks commented on #30
*labels*:
Adds a label to the graph. It is an array that it mapped to your specified graphite targets

*from*
Tell graphite the timerange to show metrics. -2h means show the metrics from the last 2 hours

*mode*
How to scale the metrics. "byteRate" formats the data as byte per second and scales accordingly (KB, MB, GB, etc)

[2016-07-09 10:31] #30 closed

[2016-07-14 05:26] Henryballs opened #31 "Couldn't display performance metrics"
Hi Chris,

I'm trying to use ceph-dash to monitor the performance of my cepy-cluster. I followed the instructions to deploy the ceph-dash, but couldn't display the performance mertics. below is my config.json:
{
    "ceph_config": "/etc/ceph/ceph.conf",
    "graphite": {
        "url": "http://xxx.xxx.28.10:8080",
        "metrics": [
            {
                "targets": [

[2016-08-12 17:16] Crapworks commented on #31
Hi @Henryballs,

Well, the problem seems to be that you graphite has no data at the specified target. Like I was trying to explain in the Readme is that ceph-dash does not put any data into graphite or influxdb. It literally can't, because it is not a server, just a WSGI app.

How are you getting your data into graphite? Because if you don't have a mechanism that gathers data and put it into you g

[2016-08-28 10:11] Lighiche opened #35 "nginx and uwsgi deployment"
Hi there,

I'm wondering if the process of serving the app via nginx/uwsgi has been documented anywhere? I know there's a quick start run through on httpd. I've been trying for a few days on and off and I can't even seem to get it to serve directly from the uwsgi server. Via nginx I get 502 socket file cannot be created. And via uwsgi I just get internal server error.

It's likely I'm doing someth

[2016-08-28 16:45] Crapworks commented on #35
Hi @Lighiche

to be honest, I was never running ceph-dash with nginx, only with apache. So I can't really point in the right direction. The error message also doesn't tell me much about what could be wrong.

To answer your question: Yes, it's a flask based app and should work with any wsgi capable webserver.

Are there any other logfiles or error messae that could hint on the problem?
Were you usi

[2016-08-29 09:24] ac-obair commented on #35
Hi there, thanks for the reply.

I copied files out of the contrib folder to:
### **/opt/ceph-dash/**

1. **uwsgi.ini**
 - _chdir           = /etc/nginx/sites-enabled/ceph-dash/_
 - _wsgi-file       = /etc/nginx/sites-enabled/ceph-dash/contrib/wsgi/cephdash.wsgi_
2. **uwsgi.params**

I've changed the lines slightly to reflect that I had moved the ` .wsgi` config file up the a higher level I've sin

[2016-08-31 14:06] Lighiche commented on #35
### Running wsgi with nginx for dummies

So ever wanted to know how to fix all the problems?

#### FIX FOR 500 RESPONSE CODE

Nginx is NOT starting any wsgi processes for you, I had to start this server manually. In order to get this to work from uwsgi the full path MUST be given to <application>.wsgi file.

All files owned by nginx in /etc/nginx/sites-enabled

##### WORKING
------
#### uwsgi serv

[2016-09-01 06:54] mkkie opened #36 "No Monitor status when ceph cluster only have one monitor."
Hello, this is my ceph cluster.

[code]

When I run ./ceph-dash.py, I could not found any monitor status on Ceph Dashboard.

Here is my screenshot.
![2016-09-01 2 44 23](https://cloud.githubusercontent.com/assets/6520185/18158013/130f344e-7053-11e6-8d87-f99c90fbe8de.png)

And I try to add another monitor, finally I can see monitor status.

![2016-09-01 2 49 02](https://cloud.githubusercontent.com/

[2016-09-10 06:31] dack opened #37 "Port conflict with ceph-rest-api"
Port 5000 is used by both ceph-dash and ceph-rest-api. In addition, the port used by ceph-dash does not appear to be configurable. This prevents running ceph-dash on the same host as ceph-rest-api. I'd suggest using a different default port, as well as adding the option for the user to choose the port.

[2016-09-10 06:46] mkkie commented on #36
I think the problem is caused by restapi.
When only one monitor is running,
the json format is
[code]

Only after we add another monitor, it can get the value  mons.

[code]

Maybe fix this lines would be help.

`timechekMons = data['health']['timechecks']['mons'];`

https://github.com/Crapworks/ceph-dash/blob/master/app/static/js/ceph.dash.js#L327

[code]
https://github.com/Crapworks/ceph-dash/bl

[2016-09-10 06:52] mkkie commented on #37
https://github.com/Crapworks/ceph-dash/issues/23

[2016-09-10 16:39] dack commented on #37
Ah, my mistake - should have checked the closed tickets!

Might be worth adding something in the README if it's a common issue.

[2016-09-26 15:12] ghost opened #38 "[apache2] can't get ceph-dash to work with Apache/2.4.18"
Hi,

I'm running Apache/2.4.18 and Ubuntu 16.04.1.

I followed the 'tutorial', using the /opt/ceph-dash/contrib/apache/cephdash file, but I get the error:

My /etc/apache2/sites-enabled/cephdash is currently this:

[code]

Apache logs don't show anything. All files under the /opt/ceph-dash have the proper permissions (www-data:www-data).

Everything works fine when running the application through

[2016-09-27 12:40] romerojnr commented on #38
I have just swapped to Nginx, and I have the same error, and nothing on the logs.

[2016-10-13 19:37] Crapworks commented on #31
I am going to close this now, since no reply.

[2016-10-13 19:37] #31 closed

[2016-10-13 19:51] Crapworks commented on #37
I should have done this earlier, indeed. I've put a small paragraph to the quickstart section. Hope that people are going to read it ;)

https://github.com/Crapworks/ceph-dash/blob/master/README.md#quickstart

[2016-10-13 19:52] #37 closed

[2016-10-13 20:02] Crapworks commented on #38
It is really hard for me to tell what the poblem could be from remote. In my experience for an Internal Server Error, there should be something in the error log. Since you are not the only one who is encountering this kind of errors, I am trying to test it myself on a VM tomorrow. Maybe I will find something.

Can you please tell me the versions of the python extensions of Flask and the python-cep

[2016-10-13 20:27] Crapworks commented on #36
Hi @mkkie ,

can you send me the full json output **with one monitor**? I don't currently have a possibility to look at it myself. If I see the difference in the json I can maybe fix this. The point is, I need to see if there actually is one monitor, and I don't know where to find the information elsewhere without the full json.

Thanks,
Christian

[2016-10-14 02:04] mkkie commented on #36
Hello @Crapworks ,

I'm using ceph version 10.2.2 now, but the problem still there.

Here are the json files:
**1. Only one monitor**

{"election_epoch": 3, "fsid": "eab2be8a-90c8-4919-9384-c6e2742c3956", "fsmap": {"by_rank": [], "epoch": 1}, "health": {"detail": [], "health": {"health_services": [{"mons": [{"avail_percent": 94, "health": "HEALTH_OK", "kb_avail": 1818661196, "kb_total": 1920339980

[2016-10-15 18:10] Crapworks commented on #36
So basically with **one monitor** the health informations are in

[code]

and with **two or more** monitors the health information are here?

[code]

Wow, thats... intetesting. I will see what I can do with that.

[2016-10-15 18:27] Crapworks commented on #36
Hi @mkkie

can you please checkout the branch "one_monitor_fix" and test if this works with one and more monitors?

[2016-10-16 14:46] iliul opened #42 "OSError: librados.so.2: cannot open shared object file: No such file or directory"
[code]

How to fix this error ?

[2016-10-16 14:50] iliul commented on #42
oh...I have fixed this error by run `apt-get install librados2` , QAQ

[2016-10-16 14:50] #42 closed

[2016-10-17 09:26] mkkie commented on #36
Hi @Crapworks

I have tried the branch "one_monitor_fix", and the problem still there.

My Chrome tell me that some error in [ceph.dash.js](https://github.com/Crapworks/ceph-dash/blob/one_monitor_fix/app/static/js/ceph.dash.js#L432).
![2016-10-17 5 18 51](https://cloud.githubusercontent.com/assets/6520185/19432196/1540c3f4-948e-11e6-9c9e-13e66cad1e7c.png)

I put the following code before line 432

[2016-10-17 15:36] Crapworks commented on #36
Hi @mkkie

I've overlookes the fact that `health_services` is an array, not a dict (which is even more ugly).
Can pull the latest code and try again?

[2016-10-17 16:31] nrm21 opened #43 "(Question) Did you see my PR requests"
Hi Christian,

Not an issue more of a question.  Did you see the PR's I have waiting in the PR queue?  Any word on those?

[2016-10-18 01:31] mkkie commented on #36
Thank you @Crapworks

I pull the latest code and it works fine!

![2016-10-18 9 23 14](https://cloud.githubusercontent.com/assets/6520185/19461228/66f90ad0-9515-11e6-9f8e-4a716b03772e.png)
![2016-10-18 9 24 04](https://cloud.githubusercontent.com/assets/6520185/19461231/6ce2dab6-9515-11e6-8919-0672a416c1a9.png)

[2016-10-19 12:03] hansbogert commented on #38
Did you install and activate the wsgi module for apache?

[2016-10-19 12:07] hansbogert opened #44 "No operations per second"
In the screenshots of  the README.md we can see the operations-per-second metric. Is it expected that this metric can't be seen in a default deployment?

[2016-10-19 12:28] hansbogert commented on #44
Update:
It seems that if there are no IOPS at the moment that you load the dashboard, that the metrics are not shown at all. Even if IOPS should be happening at a later moment in time, the metrics will not be shown until you refresh the dash page.

[2016-11-26 19:40] Kaeltis commented on #38
Have the same problem, added the following to ceph-dash/contrib/wsgi/cephdash.wsgi, which allows errors to be shown in the apache error log:

`import logging, sys`
`logging.basicConfig(stream=sys.stderr)`

Shows the following error, I guess it's because the apache user not having the permissions to connect:

[Sat Nov 26 20:35:43.944466 2016] [:error] [pid 6568] Traceback (most recent call last):
[

[2016-12-20 00:28] fernandosanchezmunoz opened #46 "docker image?"
First, let me thank you for this great idea and the progress so far!

Now: any intentions to build an official docker image for this? It would be immensely useful to simplify deployment.

thanks!

[2017-01-07 16:45] Crapworks commented on #46
Hi @fernandosanchezmunoz

See  eff852c and https://hub.docker.com/r/crapworks/ceph-dash/

It would be nice if someone could test it, since I don't have a real ceph cluster to play around.

Regards,
Christian

[2017-01-07 16:47] Crapworks commented on #44
Hi @hansbogert,

this should not happens since the JS routine to render the page is called every 5 seconds by default. Can you tell me which version of ceph you are using and can you provide the output of

`ceph status --format=json-pretty`

Regards,
Christian

[2017-01-07 16:48] Crapworks commented on #43
Hi @nrm21,

I hadn't enough time the last month to get anything going for ceph-dash. I will take a look at all the PR in the next days.

Regards,
Christian

[2017-01-07 17:21] #36 closed

[2017-01-07 17:31] Crapworks commented on #35
Hi @Lighiche

thank you for the detailed solution! Is this problem fixed for you and can I close this issue? I would also like to create a FAQ section in the README and link to this issue so that people who have the same problems can easily find it. Ok for you?

Regards,
Christian

[2017-01-07 17:55] Crapworks commented on #44
I also just changed something in the JS code regarding the changed json structure in the jewel release. Can you pull the latest code and check if the problem is still there?

[2017-01-07 17:57] Crapworks commented on #38
Hi @Kaeltis

Ceph-Dash already has these options:
https://github.com/Crapworks/ceph-dash#user-content-deployment

Regards,
Christian

[2017-01-08 12:44] hansbogert commented on #44
Ceph version:
[code]

----
[code]

----

Pulled new version, following happens now, indeed a 3rd field appears with "operations/second":
![screen shot 2017-01-08 at 1 39 16 pm](https://cloud.githubusercontent.com/assets/2630900/21749839/dd9b9a18-d5a7-11e6-849e-0b7595ad45d8.png)

After update of the ops, the field actually disappears:
![screen shot 2017-01-08 at 1 31 11 pm](https://cloud.githubuser

[2017-01-09 15:55] Crapworks commented on #44
Hi @hansbogert

thanks for the infos! I probably found the error. Can you pull the latest code and try again?

Cheers,
Christian

[2017-01-09 23:25] hansbogert commented on #44
Seems to do the trick. Now updates correctly from a 1-cell row "operations / second" to a 2-cell row with "write ops / second" and "read ops / second".

[2017-01-09 23:48] hansbogert commented on #44
Well, it works well, just one small thing. If I'm correct, the ops cells do not get updated to "0" after activity, but during idle periods.

[2017-01-10 10:56] Crapworks commented on #44
You mean the "write ops" field stays at "5"? it is normal that ceph reports iops after write/reads are only done, but only one or two seconds.

[2017-01-10 10:57] hansbogert commented on #44
Yeah this stays indefinitely if there isn’t any ops or byte transfer afterwards.

[2017-01-13 22:08] Crapworks commented on #44
Ok, i've checked the whole code again with a mocked ceph backend. It works for me now. Can you pull the latest code and give it a try again?

[2017-01-13 22:08] #43 closed

[2017-01-16 16:52] hansbogert commented on #44
Awesome!

[2017-01-16 16:52] #44 closed

[2017-01-29 13:46] Lighiche commented on #35
This is fine can I have a link to it?

Also sorry for late reply I didn’t get this.

[2017-01-30 15:14] Crapworks commented on #35
Hi,

thanks!
https://github.com/Crapworks/ceph-dash#user-content-faq

Regards,
Christian

[2017-01-30 15:14] #35 closed

[2017-02-09 20:59] iness25 opened #49 "error: [Errno 98] Adresse déjà utilisée"
ça fait une semaine que cet erreur me parait dans le console de l'eclipse et j'arrive pas à la résoudre, veuillez m'aider SVP!

2017-02-09 20:42:27,430 4361 INFO ? openerp: OpenERP version 9.0c
2017-02-09 20:42:27,430 4361 INFO ? openerp: addons paths: ['/home/lenovo/.local/share/Odoo/addons/9.0', u'/home/lenovo/git/odoo/openerp/addons', u'/home/lenovo/git/odoo/addons']
2017-02-09 20:42:27,430 436

[2017-02-23 19:21] Crapworks commented on #49
I am sorry, but I don't speak french. But from what I can see, it seems like port 5000 is already in use on the system you want to start ceph-dash. Please check the FAQ to see how you can change the port number:

https://github.com/Crapworks/ceph-dash#user-content-faq

[2017-03-08 20:15] serverbiz commented on #46
Hi @Crapworks great wiork on ceph-dash and the docker image!

Getting it up and running by following the instructions was easy and the dashboard looks good.

One problem for us is that the generated html contains hard references to /static. We need to run ceph-dash behind a reverse proxy so it's on a URL prefix. Any chance you can add an environment variable to define either an absolute path URI o

[2017-03-08 21:09] Crapworks commented on #46
Hi @serverbiz

the static references are not "hard", they are calculated by flask, as you can see for example [here](https://github.com/Crapworks/ceph-dash/blob/master/app/templates/status.html#L6). So just passing an environment variable will not work. I will implement a small middleware in the next days that should be able to handle http headers send by the reverse proxy. I'll get back here as s

[2017-03-08 21:31] serverbiz commented on #46
That makes sens! In that case header awareness would be great for all those who proxy. Looking forward to it.

We are exposing the ceph-dash container on a different port using the method you're suggesting. Some people might however want/need to run the container using "host mode" networking and then the port variable could be very convenient.

One last challenge is changing config.json in order t

[2017-03-08 21:51] Crapworks commented on #46
I guess the easiest way would be to add a commandline parameter with which you can overwrite the config file location and then add an environment variable for that. In this case, you can mount the config file anywhere in the container and just point to it.

[2017-03-08 22:04] serverbiz commented on #46
That would definitely work.

Any chance you could add an environment variable like CONFIGFILE that allows setting an alternative path to config.json to the Docker configuration, and get the app to pick up on that?

[2017-03-08 22:18] Crapworks commented on #46
I just did: #51
The environment variable is called `CEPHDASH_CONFIGFILE`. It is only available in the docker branch. If you don't want to build the container yourself, I just triggered the dockerhub build for this branch, so it whould be available within the next hours.

[2017-03-09 07:57] Crapworks commented on #46
I've implemented the reverse proxy stuff. If you are using nginx, you need to do something like this:

[code]

See also: https://github.com/wilbertom/flask-reverse-proxy

Please tell me if this works for you.

Cheers,
Christian

[2017-03-09 08:31] serverbiz commented on #46
Tested and it works!

One recommendation: add a default for CONFIG around line 4 of entrypoint.sh since the container currently doesn't start without passing this environment variable.

`CONFIG=/cephdash/config.json`

[2017-03-09 08:58] Crapworks commented on #46
The default should be handled by the app. I've added a conditional that only set the internal env variable if the user variable is set. Can you do me the favour and check if it is starting now without specifying a config?

[2017-03-09 11:54] serverbiz commented on #46
Works as expected now. Both the proxy headers and the config file 👍

Only problem I'm left struggling with is getting graphite integration to work. Also running it in a container (hopsoft/graphite-statsd) behind the same apache proxy (and behind a common basic auth) on the same host. Linked to the container using --link "graphite:graphite" and changed the example to the following config.json:

`{

[2017-03-09 12:33] Crapworks commented on #46
This is heavily dependant on your docker setup. You also need to know that ceph-dash itself talks to graphite as a proxy, you are never connecting to it via your browser. So you should make sure that you can reach the graphite container form the ceph-dash container.

[2017-03-09 13:35] serverbiz commented on #46
Got it. That explains my problem with grafana.

So turns out the reverse proxy stuff does **not** work. Got the following in my Apache 2.4 vhost but the /ceph subpath is not picked up. The website is trying to connect to /static and /grafana in stead of /ceph/static and /ceph/grafana.

[code]
I didn't notice before becase the static assets were still in my browser cache. Unfortunately /grafana is

[2017-06-06 07:26] casselt opened #52 "Broken pipe if monitor down"
Hi,

first of all thanks for the great work, I love the REST API.

I run a cluster with three nodes and three monitors. If I restart a monitor for maintenance, ceph-dash hangs and shows empty output on the website. It does not happen for every monitor. It seems that ceph-dash is picking a “main” monitor and has problems switching over if this one fails. REST API is responding though, but with a hu

[2017-06-06 08:32] Crapworks commented on #52
Hi @casselt,

I am not sure that this is an issue with ceph-dash. The dashboard basically issues a `ceph status --format=json`. If that doesn't work correctly (for example is hanging or taking long) then ceph-dash of course also has those problems. Can you issue the mentioned command on the same node you are running your dashboard and check if this command also hangs or has the same problems?

[2017-06-06 09:04] casselt commented on #52
Hi @Crapworks,

thanks for the fast answer. I can't issue this command because I don't installed ceph on this server. It's only for logging. I installed python-ceph which is listed as the only requirement (plus flask of course). I use the python-ceph packaged in debian jessie, so it might be a problem of outdated software. I'll try to test with a newer version and report back.

[2017-06-06 09:17] Crapworks commented on #52
As a workaround you can issue the command on one of the monitors as well. There shouldn't be a huge difference. Just to see if the command is hanging under the mentioned conditions.

[2017-06-06 10:12] casselt commented on #52
I issued the command on the two other monitor nodes plus a management node. Works without a problem.
But my guess was correct, the python-ceph package in debian jessie was too old it seems. I upgraded to the jessie-backports version and only a minor hiccup for about 20 seconds with the error above, after that normal operation.
Thanks for the fast answer and the hint to “ceph status”.

Have a great

[2017-06-06 10:12] #52 closed

[2017-08-02 10:48] Oakenston opened #53 "Dashboard information not displayed in 12.1.1 luminous"
Hi,
I am currently using the docker you are providing here with a proof of concept cluster running luminous.
[code]

The first problem encountered is with the infamous line 317 :
`timechekMons = data['health']['timechecks']['mons'];`

As of 12.1.1, running ` ceph status --format=json` returns :
`,"health":{"checks":{"PG_NOT_SCRUBBED":{"severity":"HEALTH_WARN","message":"6 pgs not scrubbed for 8640

[2017-08-15 07:03] Crapworks commented on #53
Hi @Oakenston

thanks for reporting that! unfortunately I currently do not work with ceph anymore, so I can't test things right now. You could help me figure out a fix by providing the full output of `ceph status --format=json`. Also can you show me a screenshot of the dashboard **without any of your modifications**? Then I will have a look at the JS to see what I can do to fix this. Also: Is 12.1

[2017-08-21 06:29] mkkie commented on #53
[http://docs.ceph.com/docs/master/release-notes/#notable-changes-since-v12-1-1-rc1](url)
[code]

$ ceph status --format=json

[code]
$ ceph time-sync-status --format=json
[code]

[2017-08-21 12:20] Crapworks commented on #53
Hi @mkkie

thanks for the data! There seem to be more changes than documented in the release notes. I'll have a look into that. I find it just a bit alarming that your output seems to have another structure than the one from @Oakenston regarding the `health` part. There seems to be no health information about the monitors in your output at all. I'll get back to you when I have something to test.

[2017-08-21 18:16] Crapworks commented on #53
I actually can't get anything out of this json. Is `checks` really an empty dictionary? In this case there are no health informations about the monitors in the status anymore... but I am wondering how `timechekMons = data['health']['checks']['mons'];` worked for @Oakenston then. Can you probably simulate a failure on one monitor and check is something is reported in this case in the JSON?

[2017-09-04 10:23] Crapworks commented on #53
Ok, I took my time to setup a demo cluster on my local system. As it looks like right now, the output of `ceph status` is pretty much useless. There are no real health informations about the components, even the `summary` field vanished that was showing the issues with the cluster. I am sure this happened due to the introduction of `ceph-mgr` which should provide a REST api and monitoring function

[2017-09-04 10:41] sommarnatt commented on #53
I really like ceph-dash, however there's a built in dashboard now in the MGR service which is ok. It shows stats per OSD process as well, which is quite cool. It also got things like Mirroring etc.

![screenshot 2017-09-04 kl 12 32 50](https://user-images.githubusercontent.com/6311472/30022902-a528bfd0-916d-11e7-95dd-0c19b916533d.jpg)
![screenshot 2017-09-04 kl 12 32 27](https://user-images.github

[2017-09-08 09:19] Crapworks commented on #49
I think it is safe to close this...

[2017-09-08 09:19] #49 closed

[2017-09-08 09:20] Crapworks commented on #46
I am going to close this since it seems to work

[2017-09-08 09:20] #46 closed

[2017-09-08 09:23] Crapworks commented on #38
@ghost were you able to get it running? can I close this isse?

[2017-09-08 18:10] Crapworks commented on #53
Hi all,

I've just pushed a new branch called **luminous**, which as it is right now **ONLY** works for the luminous release. Can you guys please try if this is working for you? If yes I will try to merge it so it works for all versions.

Cheers,
Christian

[2017-09-11 12:55] wzs803 opened #54 "Cluster Status:HEALTH_WARN"
操作系统:cenots7.3 x64
ceph版本:ceph version 12.2.0  luminous (rc)
ceph-dash-luminous:
ceph -s 状态：health: HEALTH_OK
但是python ceph-dash.py 访问http://ip:5000
Ceph Cluster Overall Status： Cluster Status:HEALTH_WARN

[2017-09-11 13:04] Crapworks commented on #54
I am not sure if I understand the problem. Is it that ceph -s and Ceph Dash show a different cluster status? If yes, can you please provide a screenshot of ceph-dash and the output of `ceph status --format=json-pretty`?

[2017-09-11 13:18] wzs803 commented on #54
![0911](https://user-images.githubusercontent.com/3351066/30276204-a5c72eda-9736-11e7-906e-cb394f8b9d83.png)
![0911-1](https://user-images.githubusercontent.com/3351066/30276222-b942895a-9736-11e7-9a7e-ed61a28d37a9.png)

[2017-09-11 13:23] Crapworks commented on #54
@wzs803 Thank you!

The problem is that ceph-dash does exactly what ceph tell it. Ceph-dash should show the overall status, as mentioned. Since luminous they changed a lot about how the status API works.

I have no idea why there is now a `status` and an `overall_status` in the API or what the differences are. I mean there seems to be something wrong, but the checks are empty. I could change the f

[2017-09-11 13:41] wzs803 commented on #54
very thanks.
 I find  status and  overall_status  in ceph Official， No result was found。
I am a new problem.  python check-ceph-dash.py --url ' '

Traceback (most recent call last):
  File "check-ceph-dash.py", line 91, in <module>
    main()
  File "check-ceph-dash.py", line 87, in main
    print "%s|%s" % (status.get_nagios_string(), status.get_perf_data())
  File "check-ceph-dash.py", line 76,

[2017-09-12 16:45] Crapworks commented on #54
Hi @wzs803

This is a check_ceph-dash issue. I've updated the code in that repository, it should work now with both version of ceph-dash. Can you please check and confirm that this is working?

And can you please show me a full screenshot of your ceph-dash, so I can check if everything looks ok for luminous? That would be pretty helpfull for me!

Cheers,
Christian

[2017-09-15 09:00] wzs803 commented on #54
luminous

ceph-dash  full screenshot。

![l](https://user-images.githubusercontent.com/3351066/30474759-4af63d94-9a37-11e7-9697-8bf5f620fcf5.png)

[2017-09-15 09:12] Crapworks commented on #54
Thanks! Is check_ceph_dash working now?

[2017-09-19 04:18] Truffelhunter commented on #53
Hi Christian,

seems to work great! Thank you ver much for your work!

Grüße,
Ben

Ceph luminous 12.2.0

![ceph-dash-luminous](https://user-images.githubusercontent.com/30813117/30575575-171535d4-9d02-11e7-9085-e94ee2122a25.PNG)
![ceph-dash-luminous-2](https://user-images.githubusercontent.com/30813117/30575583-26771d4e-9d02-11e7-8b58-b7d851a6deac.PNG)

[2017-09-19 07:34] Crapworks commented on #53
@Truffelhunter

thank you for testing! The code in the luminous branch should now work for all ceph versions. It would be great if anybody could test it with a pre-luminous version to confirm that this also works, so I can  merge it into the master branch.

Cheers,
Christian

[2017-09-19 08:48] Truffelhunter commented on #53
**_Update:_**

I get a "Cluster Status:HEALTH_WARN" even though it's actueally "Overall status: HEALTH_OK".

# ceph health detail
HEALTH_OK

Everithing else looks good.

[2017-09-19 08:55] Truffelhunter commented on #53
![ceph-health-ceph-dash](https://user-images.githubusercontent.com/30813117/30584076-f37d59c2-9d28-11e7-9559-7a9effa53e70.PNG)
![ceph-health-mgr](https://user-images.githubusercontent.com/30813117/30584064-ea1c94ec-9d28-11e7-80f5-2071d8b95301.PNG)

[2017-09-19 08:58] Crapworks commented on #53
@Truffelhunter yes, this is something that I still don't understand and which is probably the same as this issue:

https://github.com/Crapworks/ceph-dash/issues/54

The json response from ceph now has a `status` and an `overall_status` field. I have no idea why or what is supposed to be what... as you can see in the screenshot in the other issue one can be OK while the other one is WARNING.

I gue

[2017-09-19 09:09] Truffelhunter commented on #53
Seconf Screenshot:
Yes, the mgr on Port 7000
![ceph-mgr-health](https://user-images.githubusercontent.com/30813117/30584764-04914032-9d2b-11e7-8792-fa3c136632a2.PNG)

[2017-09-19 09:12] Crapworks commented on #53
@Truffelhunter does the latest commit now show the correct status in ceph-dash?

[2017-09-19 09:14] Truffelhunter commented on #53
Sorry: I just cloned the luminous brunch again ... still the same.

[2017-09-19 09:24] Truffelhunter commented on #53
Anything I can dig out for you?

[2017-09-19 09:35] Crapworks commented on #53
Can you show me the output of `ceph status --format=json`, especially the `health` part of it?

[2017-09-19 09:40] Truffelhunter commented on #53
No idea where the "warn" comes from:
[...]
,"health":{"checks":{},"status":"HEALTH_OK","overall_status":"HEALTH_WARN"},"election_epoch":25646,"quorum":[0,1,2],"quorum_names":["mon30100","mon30101","mon30103"],"monmap":{"epoch":33,
[...]

[2017-09-19 09:47] Crapworks commented on #53
Can you please go into the directory where ceph-dash runs in, and open the file `app/static/js/ceph.dash.js` and show me the lines from 310 - 314?
Also have you cleared your browser cache after updating ceph-dash via git?

[2017-09-19 09:51] Truffelhunter commented on #53
So sorry causing you work!!!
The browser cache was the problem. :-(

[2017-09-19 09:53] Crapworks commented on #53
Nevermind, good that it works now :)
Thanks for your help!

[2017-09-19 10:00] Truffelhunter commented on #53
Nothing to thank. I'm so happy ceph-dash works again, it's running on all my monitors and got used to it for quite some time to checkup on a quick glance if everythings o.k. ;-)

btw: wher would I post a quick howto for systemctl integration of ceph-dash?

[2017-09-19 12:00] Crapworks commented on #53
Well I guess the best way would be to use the (currently empty) ceph-dash wiki. I would then link to it from the README. But you can publish it where ever you want and I can just link to it.

[2017-10-23 17:38] Crapworks commented on #54
going to close this one now.

[2017-10-23 17:38] #54 closed

[2017-10-23 17:40] #38 closed

[2017-10-23 17:42] Crapworks commented on #53
@Oakenston were you able to test the luminous branch and can confirm that this works for you? If I don't get any feedback on this I just have to merge the branch to master and hope for the best...

[2017-11-06 22:26] ENACaseyBoone commented on #53
The Luminous branch is working for me on a Luminous cluster.  I have not tested if there are any regressions for prior versions of Ceph

[2017-11-07 21:04] ENACaseyBoone commented on #53
I have been able to test this branch on a host running an earlier version of Ceph and everything appears to be good

[2017-11-07 21:06] Crapworks commented on #53
@ENACaseyBoone thank you for taking the time to test this! I am going to merge it then and create a new release.

[2017-11-07 21:06] #53 closed

[2017-12-04 22:10] Kaeltis opened #56 ""If you see this your monitoring system is scraping the wrong fields""
Since upgrading my monitors from luminous 12.2.1 to 12.2.2 I'm seeing the following warning in ceph-dash:

[2017-12-09 15:57] k0ste commented on #56
[code]

exec `ceph tell mon.* injectargs "--mon_health_preluminous_compat_warning=false"`

now ceph-dash happy
[code]

[2017-12-09 16:02] Kaeltis commented on #56
Well, that only removes the warning. But the issue that old fields are getting scraped is still there I'm guessing.

[2017-12-09 16:10] k0ste commented on #56
@Kaeltis you are absolutely right. I'm just tells "what happened with ceph-dash if..." and with json.

[2017-12-09 16:12] k0ste commented on #56
Well, check_ceph_dash not working properly with 12.2.2 too. I patched it https://github.com/Crapworks/check_ceph_dash/pull/5 now works for me.

[2017-12-09 17:07] k0ste commented on #56
@Kaeltis test #57 please.

[2017-12-09 17:13] Kaeltis commented on #56
It's working, thanks! :)

[2017-12-09 20:01] #56 closed

[2017-12-09 20:02] Crapworks commented on #56
@k0ste I've merged the PR, thanks for your work! I

[2018-04-20 21:01] kalpcalp opened #58 "ceph-dash.py script keeps crashing after a few minutes"
I'm trying to run ceph-dash.py from my mon host, but it crashes every few minutes, and I have to restart it again. Has anyone seen this error before?

version of Ceph I'm using is 11.2.1 (Kraken).

Thanks in advance!

`10.0.203.250 - - [20/Apr/2018 20:55:46] "GET / HTTP/1.1" 200 -
10.0.203.250 - - [20/Apr/2018 20:55:51] "GET / HTTP/1.1" 200 -
10.0.203.250 - - [20/Apr/2018 20:55:56] "GET / HTTP/1.1

[2018-04-21 07:44] Crapworks commented on #58
Hi @kalpcalp

This is an error of your ceph cluster, not from ceph-dash. This can have a multitude of reasons since a ceph cluster is a complex construct. You can probably find some help on the ceph mailing list for this. Do you experience any other problems with you ceph cluster maybe?

Cheers,
Christian

[2018-04-25 17:56] Crapworks commented on #56
Hi @benlu36,

you should probably contact the openATTIC developers then. This is ceph-dash, and I don't think these two have anything todo with each other.

Cheers,
Christian

[2018-06-05 02:49] muhammadhanif opened #59 "TimedOut: error connecting to the cluster"
I deploy ceph-dash using apache. But i get error:

[Tue Jun 05 09:44:09.449026 2018] [:error] [pid 27465] Traceback (most recent call last):
[Tue Jun 05 09:44:09.449031 2018] [:error] [pid 27465]   File "/usr/lib/python2.7/site-packages/flask/app.py", line 1817, in wsgi_app
[Tue Jun 05 09:44:09.449034 2018] [:error] [pid 27465]     response = self.full_dispatch_request()
[Tue Jun 05 09:44:09.44903

[2018-06-10 18:29] Crapworks commented on #59
Hi @muhammadhanif

This is an issue connecting to the ceph cluster which is not really realted to ceph-dash. How does your ceph-config looks like and can you issue ceph commands like `ceph status` on the host ceph-dash is running on?

[2018-11-28 03:50] dazhi509 commented on #56
@k0ste Hi, how to get message about cluster as detailed as you get, is there a comfortable way? i only find command like ```ceph -s, ceph osd stat,  mon_status ```

[2018-11-28 04:01] k0ste commented on #56
@dazhi509
[code]

[2018-11-28 04:05] dazhi509 commented on #56
@k0ste thanks

[2018-11-29 11:20] Grimdotdotdot opened #60 "Using in a docker compose file"
When running a docker stack, the environment variables for a docker container have to be placed in a yaml file - something that can't be done (to my knowledge) with the keyring.

Would it be possible to allow the key to be entered as a string?

[2018-11-29 11:41] Crapworks commented on #60
Hi @Grimdotdotdot
when using docker stacks, you can use the `configs` section in your compose file to inject files:
https://docs.docker.com/compose/compose-file/#configs

would that solve your problem?

Cheers,
Christian

[2018-11-29 11:41] Crapworks commented on #59
no response, so I am going to close this

[2018-11-29 11:41] #59 closed

[2018-11-29 11:43] Grimdotdotdot commented on #60
I'll take a look.
Cheers!

[2018-11-29 11:44] Crapworks commented on #58
going to close this, please reopen if the issue persists

[2018-11-29 11:44] #58 closed

[2018-11-29 16:41] Grimdotdotdot commented on #60
Configs is only for the 'config' settings, sadly. However, after a lot of trial and error I finally found the specific combination that both yaml and docker likes:

[code]

[2018-11-29 16:50] Grimdotdotdot commented on #60
In fact, you can get away with just
[code]

[2018-12-12 13:41] Crapworks commented on #60
@stryker250 thanks for working on this!
@Grimdotdotdot Is this problem solved for you or are there any other problems?

[2018-12-12 13:55] Grimdotdotdot commented on #60
All good for me, thanks!

[2018-12-12 16:30] #60 closed

[2018-12-12 17:55] DonaldFoss commented on #60
The docker command line allows environment variables to be set, and there are utilities to parse & convert a string to environment variables and set them. Then there are "secrets" filesystems or tools which could either store or create the keyring file.

BTW, love your email name.

Donald E. Foss

[2018-12-12 18:01] DonaldFoss commented on #60
Having service discovery would make that even better so that the cephmons and other services could be dynamic.

Donald E. Foss

[2019-04-04 15:07] cephbrasil opened #62 "Apache wsgi connect problem"
Hello!

I try to configure my Apache to configure WSGI with Ceph Dash and I just receive this error bellow:

[code]

When I try to access http://cephdash:5000 in my environment that's work without problem.

Ubuntu 16.04.2 LTS
Apache/2.4.18 (Ubuntu)

[2019-04-04 18:25] cephbrasil commented on #62
Hi I look here and it's just my wrong configuration.

I closing this issue.

[2019-04-04 18:25] #62 closed

[2020-11-10 07:14] Damien9527 opened #63 "can not work well with 15.2.5"
I have install ceph 15.2.5 in centos7  by ceph-deploy.  all goes well ,

# ceph -s
  cluster:
    id:     7a9873c4-60b8-4481-b44b-c29154c406b0
    health: HEALTH_WARN
            Module 'restful' has failed dependency: No module named 'pecan'

  services:
    mon: 3 daemons, quorum ceph01,ceph02,ceph03 (age 19h)
    mgr: ceph03(active, since 19h), standbys: ceph01, ceph02
    mds: cephfs:1 {0=ceph

[2021-04-19 19:20] abonanni commented on #63
+1

[2021-04-19 20:02] k0ste commented on #63
Can you attach output of `ceph status --format=json-pretty`? Thanks

[2021-04-19 22:34] abonanni commented on #63
You can download the file here : https://cloud.teicee.fr/s/oS7fAkC24aEpjs8

[2021-04-20 07:27] k0ste commented on #63
Currently is not 'pretty'. Please make file like this: `ceph status --format=json-pretty > ceph.json`, then attach directly to this issue, without cloud hosting. Thanks

[2021-04-20 11:46] abonanni commented on #63
Hello.

I can't attach a json file in github (error msg: We don't support that file type).

In the cloud hosting, you have a download button on top :
![Capture d’écran 2021-04-21 à 13 45 18](https://user-images.githubusercontent.com/38793840/115390662-cbdcf800-a1de-11eb-9ade-dc6dbf7b55ad.png)

[2021-04-20 14:03] k0ste commented on #63
You just can paste raw, I was use online formatter for pretty source file

[code]

[2021-04-20 14:12] k0ste commented on #63
Seems octopus drop `osdmap` key in `osdmap` collection.

[2021-04-26 08:41] abonanni commented on #63
We have maid a PR for ceph 15 : https://github.com/Crapworks/ceph-dash/pull/64

[2021-04-27 08:09] Crapworks commented on #63
This should be fixed now by #64. I've created release v1.6 to contain the fix (updated docker containers are now available as well)

[2021-04-27 08:09] #63 closed

[2021-08-28 15:30] azad-13 opened #66 "ceph-dash does not work with python3"
ceph-dash does not work with python3

this pull request adds support for python3 https://github.com/Crapworks/ceph-dash/pull/65

[2021-08-28 15:32] azad-13 opened #67 "ceph-dash does not work with ceph pacific 16.2.5"
ceph-dash does not work with ceph pacific 16.2.5
ceph pacific expects the inbuf argument to be passed as bytes and not str (in app/dashboard/views.py)

this pull request fixes that https://github.com/Crapworks/ceph-dash/pull/65

[2021-12-02 19:28] #66 closed

[2021-12-02 19:28] #67 closed